body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.new-note-button-wrap {
  border: none  !important;
}
.new-note-button {
  text-align: center;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  border: none !important;
  background-color: #e6f7ff !important;
}
.item-list-note {
  cursor: pointer;
  padding: 0 15px;
}
.item-list-note:hover {
  background-color: #e6f7ff !important;  
}
span.mr10 {
  margin-right: 10px;
}
.inputTitle {
  font-size: 20px !important;
  border: none !important;
  margin: 16px 0px !important;
  padding: 10px 15px 13px !important;
  color: black !important;
  outline: none !important;
  height: 50px !important;
}
.inputTitle:focus {
  box-shadow: none !important;
}